INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile.in
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
configure
doc/Makefile.in
doc/autoconf.info
doc/stamp-vti
doc/version.texi
lib/Autom4te/Makefile.in
lib/Makefile.in
lib/autoconf/Makefile.in
lib/autoscan/Makefile.in
lib/autotest/Makefile.in
lib/emacs/Makefile.in
lib/m4sugar/Makefile.in
man/Makefile.in
man/autom4te.1
man/config.guess.1
man/config.sub.1
tests/Makefile.in
